{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <title>Document</title>
  </head>
  <body>
    <h1>Django players!</h1>
    <div>
      {% for player in myplayers %}
      <div>
        <div style="display: flex;">
          <img style="border-radius: 50%;width: 40px;height: 40px;border: 1px solid gray;background-color: gray;"/>
          <div>
            <div>Name: {{ player.first_name }} {{ player.last_name }}</div>
            <div>Age: {{player.age}}</div>
            <div>Position: {{ player.position}}</div>
            <div>country: {{ player.country}}
            
          </div>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
    <br />
  </body>
</html>
